server:
  port: 8080
  servlet:
    context-path: /property-management

management:
  endpoints:
    web:
      exposure:
        include: health, info, caches, metrics
  endpoint:
    health:
      show-details: always

spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: caffeine
    cache-names:
      - propertyCache
      - tenantCache
    caffeine:
      spec: maximumSize=50,expireAfterWrite=5m

